<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Dashboard</a>
      <a mat-list-item routerLink="/remesas">Remesas</a>
      <a mat-list-item routerLink="/verificar">Verificar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Remesas App</span>

  
      <div style="margin-left: 2em;"> 
        <button mat-raised-button color="primary" (click)="installByUser()" *ngIf="installEvent" >Instalar App</button>
      </div>



    </mat-toolbar>

    <ng-content>

      
    </ng-content>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
