<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            
            <button *ngIf="card.id ==1 && !activeEditDayRate " mat-icon-button class="more-button" (click)="editDayRate()" >
              <mat-icon>create</mat-icon>
            </button>

            <button *ngIf="card.id ==1 && activeEditDayRate" mat-icon-button class="more-button" (click)="saveDayRate()" >
              <mat-icon>done</mat-icon>
            </button>

            <button  *ngIf="card.id !=1" mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Editar</button>
              <!-- <button mat-menu-item>Crear</button> -->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">



          <div class="day_rate" *ngIf="card.id ==1">


            <form autocomplete="off" [formGroup]="form" (ngSubmit)="saveDayRate()">

            <h2> {{form.value.dayRate | number:'1.2-2'}}</h2>

               <mat-form-field *ngIf="activeEditDayRate">
                 <input matInput placeholder="Tasa del dia" 
                 formControlName="dayRate"
                 maxlength="8"
                 [class.is-invalid]="dayRateNoValido">
          <small *ngIf="dayRateNoValido" class="text-danger">
            Ingrese 3 digitos
          </small>
                 
                 
               </mat-form-field>


            </form>

            <footer> 
              <p>
              <span>No olvide configurar la tasa correcta.</span>
              <br> Todos los registros de solicitud de remesas, se procesan en base a esta tasa.

            </p>
            
            </footer>


          </div>


          <div *ngIf="card.id ==2">

            <p> Agregar, editar , eliminar cuentas de la empresa de donde se haran las transferencia y donde llegaran</p>


          </div>




        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
